# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environments
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Dataset Files
datasets/
audio_dataset/
augmented_audio/

# Generated Spectrograms
mel_spectrograms/
spectrograms/

# Model Checkpoints
checkpoints/
saved_models/

# Temporary Files
temp/
tmp/

# Raspberry Pi
*.pid

# VS Code
.vscode/

# Colab
/content/

# Large Files
*.wav
*.mp3
*.flac
